<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Management</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Just simply add an Employee :D</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

      <button type="button" class="btn btn-primary rounded-5 p-3" data-bs-toggle="modal" data-bs-target="#myModal" style="width:300px;">
        Add Employee
      </button>
      
    </div>
  </div>
</div>

<div class="container p-3 border shadow-sm">

  <div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
  
        
        <div class="modal-header">
          <h4 class="modal-title">Registration</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        
        <div class="modal-body">
          <form #form="ngForm" (ngSubmit)="onSubmit()"> 
            <div class="row">

              <div class="col">
                <input type="text" class="form-control" placeholder="Firstname" name="firstName" value="" [(ngModel)]="employee.firstName" >
                
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Lastname" name="lastName" [(ngModel)]="employee.lastName" >
                
              </div>
              <div class="mb-3 mt-3">
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" [(ngModel)]="employee.email" >
                
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" id="address" placeholder="Address" name="address" [(ngModel)]="employee.address" >
                
              </div>
        
              <div class="mb-3">
                <input type="text" class="form-control" id="zipcode" placeholder="Zipcode" name="zipCode" [(ngModel)]="employee.zipCode" >
                
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" id="city" placeholder="City" name="city" [(ngModel)]="employee.city" >
                
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" id="Salary" placeholder="Salary" name="salary" [(ngModel)]="employee.salary" >
                
              </div>
            <div class="row md-6">
              <div class="form-check" >
                <input type="radio" class="form-check-input" id="radio1" name="optradio" [(ngModel)]="employee.genderId" value="1" checked >Male
                <label class="form-check-label" for="radio1"></label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" id="radio2" name="optradio" [(ngModel)]="employee.genderId" value="2" >Female
                
                <label class="form-check-label" for="radio2"></label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" id="radio3" name="optradio" [(ngModel)]="employee.genderId" value="3" >Other
                
                <label class="form-check-label" for="radio3"></label>
                
              </div>
              
            </div> 
              
              <div class="form-floating">
                <select class="form-select" id="sel1" name="sellist" [(ngModel)]="employee.departmentId" >
                  <option value="1">IT</option>
                  <option value="2">HR</option>
                  <option value="3">Economy</option>
                  <option value="4">Service</option>
                </select>
                <label for="sel1" class="form-label">Select Department</label>
              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-dark" data-bs-dismiss="modal">Register</button>
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
          

        </div>
      </div>
    </div>
  </div>
  
  <h2>Employees</h2>   
  <table class="table table-hover" >
    <thead>
      <tr>
        <th>Fullname</th>
        <th>Email</th>
        <th>City</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let employee of employees">
      <tr>
        <td>{{employee.fullName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.city}}</td>
        <td>{{employee.address}}</td>
        <td>
          <button class="btn" (click)="populateForm(employee)" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-solid fa-pen"></i></button>
          <button class="btn" (click)="onDelete(employee.employeeId)"><i class="fa-solid fa-trash-can"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

